<main>
  <div class="user-container">
    <div class="header">
      <div class="nav">
        <div class="header-block">
          <div class="menu-c">
            <img
              src="../../../assets/image/Ministry Office Logo.png"
              width="80px"
              alt="Logo"
              style="margin: 5px;"
            />
            <button
              mat-raised-button
              class="btn-icon menu-btn"
              matTooltip="Menu"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#staticBackdrop"
              aria-controls="staticBackdrop"
              style="background-color: #e7e7e7; border-radius: 10px"
            >
              <mat-icon style="color: #9dacb4; cursor: pointer; margin: 0px"
                >menu</mat-icon
              >
            </button>
          </div>
          <div class="userprofile">
            <button
              mat-raised-button
              matBadge="{{ alert_count }}"
              [matBadgeHidden]="hidden"
              matBadgeColor="warn"
              [matMenuTriggerFor]="notification"
              class="btn-icon"
              (click)="toggleBadgeVisibility()"
            >
              <mat-icon style="color: #9dacb4; cursor: pointer; margin: 0px"
                >notifications</mat-icon
              >
            </button>

            <mat-menu #notification="matMenu" xPosition="before">
              <div class="title-notification">
                <label class="notification">Notification</label>
              </div>
              <div *ngFor="let item of notifications_list">
                <ul class="tree nav-list">
                  <li
                    class="list-data"
                    [ngClass]="{
                      unread: item.status === 'UNREAD',
                      read: item.status === 'READ'
                    }"
                    (click)="markRead(item.id)"
                  >
                    <p class="list-item">{{ item.title }}</p>
                    <span class="list-detail"
                      >{{ item.date }} at {{ item.time }}</span
                    >
                  </li>
                </ul>
              </div>
            </mat-menu>

            <div class="user-menu" [matMenuTriggerFor]="userMenu">
              <div class="logo-img">
                <img
                  #img
                  src="../../../assets/image/avatar.png"
                  width="35px"
                  height="35px"
                  style="border-radius: 100%"
                />
              </div>
              <div class="name">
                <h1 class="title">Mofa Admin</h1>
              </div>
              <div class="notification">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  style="transform: rotate(90deg); margin-right: 10px"
                  fontIcon="chevron_right"
                ></mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-menu #userMenu="matMenu" xPosition="after">
      <button mat-menu-item (click)="userProfile()">
        <mat-icon style="margin-left: 20px">manage_accounts</mat-icon>
        <span style="margin: 0 20px">User Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon style="margin-left: 20px">logout</mat-icon>
        <span style="margin: 0 20px">Logout</span>
      </button>
    </mat-menu>
  </div>
</main>

<router-outlet></router-outlet>