<main>
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div class="form-container">
    <form [formGroup]="passwordUpdating" (ngSubmit)="userPasswordUpdating()">
      <div>
        <mat-form-field>
          <mat-label>Current Password</mat-label>
          <input type="password" matInput formControlName="userCurrentPwd"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input type="password" matInput formControlName="newPwd"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Confirm New Password</mat-label>
          <input type="password" matInput formControlName="confirmNewPwd"/>
        </mat-form-field>
      </div>
      <button mat-button type="submit" [disabled]="passwordUpdating.invalid" class="submit-btn">Submit</button>
    </form>
  </div>
</main>
