main {
  background-color: #f3f3f3;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.submit-btn:enabled {
  background-color: #00ff00;
  color: #fff;
}
