main {
  background-color: #f3f3f3;
}

.main-container {
  display:grid;
  grid-template-columns: 250px auto;
}


.chart-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.chart-graph {
  background-color: aliceblue;
  border-radius: 10px;
  border: 2px solid #d3d3d3;
  width: 100%;
}


@media (max-width:600px) {
  .main-container {
    display: grid;
    grid-template-columns: 60px auto;
  }
}