main {
  background-color: #f3f3f3;
}

.main-container {
  display: flex;
  justify-content: flex-start;
}

.data-main__container {
    display: flex;
    justify-content: center;
}

.data-container {
    display: flex;
    flex-direction: column;
}
  