main {
  background-color: #f3f3f3;
}

.main-container {
  display:grid;
  grid-template-columns: 250px auto;
}

.data-main__container {
    display: flex;;
}

.data-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 5px;
    width: -webkit-fill-available;
}

th {
  font-weight: 700;
}

tr:nth-child(odd) {
  background-color: aquamarine;
}
  
@media (max-width:600px) {
  .main-container {
    display: grid;
    grid-template-columns: 60px auto;
  }

  .me-2 {
    margin-right: -83.5rem!important;
}
}