main {
  background-color: #f3f3f3;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.data-main__container {
    display: flex;
    justify-content: center;
}

.data-container {
    display: flex;
    flex-direction: column;
}

table {
    width: 700px;
  }
  