main {
  background-color: #f3f3f3;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: 250px auto;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
  width: 500px;
}

.user-pic__container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.user-name-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.user-name__container {
  display: grid;
  row-gap: 20px;
}

.name_title {
  display: grid;
  grid-template-columns: 150px 150px;
  column-gap: 20px;
  row-gap: 20px;
  border-bottom: 1px solid #d3d3d3;
}

.u-pic {
  border-radius: 100px;
  border: 1px solid #2c2727;
  cursor: not-allowed;
}

@media (max-width: 550px) {
  .user-name-pic {
    display: flex;
    flex-direction: column-reverse;
  }

  .u-pic {
    width: 120px;
  }
}

@media (max-width: 600px) {
  .main-container {
    display: grid;
    grid-template-columns: 60px auto;
  }

  .user-container {
    width: 250px;
  }

  .name_title {
    display: grid;
    grid-template-columns: 48px 148px;
    column-gap: 20px;
    row-gap: 20px;
    border-bottom: 1px solid #d3d3d3;
  }

  main {
    height: auto;
  }

  .f-c {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
