* {
  margin: 0%;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #003c1a;
  position: sticky;
  top: 0%;
  z-index: 1;
}

.headercell {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.main-heading {
  font-size: 20px;
  color: #fff;
  border-bottom: 2px solid #000;
  background-color: #0086d0;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.instruction-heading {
  color: #0086d0;
  font-size: 20px;
}

.warning {
  color: red;
}

.success {
  color: green;
}

.paragraph {
  font-size: 18px;
  color: currentColor;
  line-height: 30px;
}

.intro-section {
  display: flex;
  justify-content: center;
  padding: 0% 10%;
  margin-top: 20px;
}

.btn-appointment {
  padding: 5px;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
}

.btn-search {
  padding: 5px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  text-transform: capitalize;
}

.priority-section {
  display: flex;
  justify-content: center;
  background-color: #003c1a;
  text-align: center;
}

.card-container {
  margin: auto;
  background-color: rgb(248, 248, 255);
}

.header-image {
  width: 100px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.priority-heading {
  color: #fff;
  padding: 20px;
  font-size: 20px;
}

.calendar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.day-row {
  padding: 15px;
  border: 1px solid #fff;
  background-color: #7fc2e7;
  color: #41509b;
  text-align: center;
  font-size: 1rem;
  cursor: default;
}

.date-row {
  padding: 25px 50px;
  border: 1px solid #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 700;
  background-color: #61de42;
  cursor: pointer;
}

.date-row:hover {
  background-color: #2b6e1a;
  color: white;
}

.past-date {
  background-color: #d7d7d7;
  cursor: not-allowed;
}

.past-date:hover {
  background-color: #d7d7d7;
  color: #000;
}

@media (max-width: 860px) {
  .date-row {
    padding: 20px 40px;
  }
}

@media (max-width: 725px) {
  .date-row {
    padding: 10px 30px;
  }
}

@media (max-width: 600px) {
  .date-row {
    padding: 10px 10px;
  }
}

@media (max-width: 550px) {
  .date-row,
  .day-row {
    padding: 5px;
  }
}
