<div class="card-container">
  <div class="header">
    <div class="headercell">
      <img
        src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bc/Ministry_of_Foreign_Affr_Pakistan_Logo.png/220px-Ministry_of_Foreign_Affr_Pakistan_Logo.png"
        alt="Mofa Logo"
        class="header-image"
      />
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: #ffffff;
        "
      >
        <label style="text-transform: uppercase; font-weight: 700">
          Ministy of foreign Affairs
        </label>
        <label style="text-transform: uppercase; font-weight: 700">
          Government of Pakistan
        </label>
      </div>
    </div>
  </div>

  <section class="intro-section">
    <div class="row">
      <h1 class="main-heading">welcome to mofa online appointment system</h1>
      <div class="col-sm-12">
        <h1 class="instruction-heading">
          Please Read the Instructions Carefully before booking an appointment:
        </h1>
        <ol class="paragraph">
          <li class="warning">
            Book Online Appointment for Ministry Of Foreign Affair, Islamabad
          </li>
          <li class="success">
            Limited number of appointments are offered each day. If you are
            unable to book an appointment, you can get services through the
            walk-in token system on a first-come, first-served basis.
          </li>
          <li class="success">
            New Appointment Slots Open every day (Except Weekends and Public
            Holidays).
          </li>
        </ol>
      </div>
    </div>
  </section>

  <div class="calendar">
    <div
      style="
        background-color: aquamarine;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      "
    >
      <h2
        style="
          text-align: center;
          background-color: #00a1ff;
          color: white;
          margin-bottom: 0px;
          cursor: default;
          padding: 5px;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        "
      >
        {{ selectedDate | date : "MMMM yyyy" }}
      </h2>
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let day of daysOfWeek" class="day-row">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of weeks">
            <td
              *ngFor="let day of week"
              (click)="selectDate(day)"
              [class.selected]="isDateSelected(day)"
              [class.past-date]="isDateDisabled(day)"
              class="date-row"
            >
              {{ day | date : "d" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <section class="priority-section">
    <div class="container">
      <p class="priority-heading">
        Our foreign policy is one of friendliness and goodwill towards all the
        nations of the world.
      </p>
    </div>
  </section>
</div>

<app-loader *ngIf="showLoader"></app-loader>
