main {
  width: 400px;
  height: 200px;
}

// .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
//     background: rgb(101 163 109 / 86%) !important;
// }

.mat-mdc-dialog-container {
    --mdc-dialog-container-color: white;
    --mdc-dialog-subhead-color: rgba(206, 26, 26, 0.726);
    --mdc-dialog-supporting-text-color: rgba(199, 19, 19, 0.6);
  }

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1-t {
  font-weight: 500;
  text-align: center;
}

mat-form-field {
  width: 350px;
}

mat-icon {
  color: blue;
}

// themes

