<main>
  <div class="main-container">
    <h1 class="h1-t">Reset Password</h1>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControl]="userEmail" />
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>
    <div style="color: red" *ngIf="userEmail.touched && userEmail.invalid">
      <div *ngIf="userEmail.hasError('required')">This field is required.</div>
      <div *ngIf="userEmail.hasError('email')">Email format is invalid.</div>
    </div>
    <button
      type="submit"
      mat-button
      (click)="submitEmail()"
      [disabled]="userEmail.invalid"
    >
      Submit
    </button>
  </div>
</main>

<app-loader *ngIf="showLoader"></app-loader>
