/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/image/corebackground.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  height: fit-content;
}

* {
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background-color: rgb(214, 35, 65);
  color: white;
}

/* Define the styles for the scrollbar track (background) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Define the styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 6px; /* Round the corners of the thumb */
}

/* Define the styles for the scrollbar track when the mouse hovers over it */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}

/* Define the styles for the scrollbar track (background) when the mouse hovers over it */
::-webkit-scrollbar-track {
  background: #eee; /* Color of the scrollbar track */
}

/* Define the styles for the scrollbar corner */
::-webkit-scrollbar-corner {
  background: #fff; /* Color of the scrollbar corner */
}


@import "ngx-toastr/toastr";
